.header {
    background-color: #3792B3;
    color: white;
}
.nav-containers, .btn {
    background-color: #195368;
    color: white;
}

.nav-link {
    color: white;
    text-align: center;
}

.btn{
    border-width: 0.25vw;
    border-color: white;
}

h1.header {
    font-size: 9vw;
}

.page-content {
    color: #195368;
}

form.register {
    border: 1px solid #3792B3;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
}

.img-header {

    width: 200px;
    height: auto;
}

.btn-green {
    border-width: 0.25vw;
    border-color: darkgreen;
    background-color: green;
}

.btn-green:hover {
    border-width: 0.25vw;
    border-color: darkgreen;
    background-color: darkgreen;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.btn-red {
    border-width: 0.25vw;
    border-color: darkred;
    background-color: red;
}

.btn-red:hover {
    border-width: 0.25vw;
    border-color: darkred;
    background-color: darkred;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.page-content {
    max-width: 80%;
}
